@font-face {
  font-family: 'Inter';
  src: url('./Inter-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter-Bold.otf');
  font-weight: 700;
}
@font-face {
  font-family: 'Inter' ;
  src: url('./Inter-Black.otf');
  font-weight: 900;
}

