.cover {
  margin: 92px 48px;
  background-image:url(../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
    margin: 92px 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 90px 0 88px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    margin: 66px 0 64px;
  }
}
